
@{
    ViewBag.Title = "Index";
}
<style>
    .background-section {
        background-image: url('https://i.ibb.co/ZJyWtwG/Orange-and-Green-Colorful-Illustrative-Zero-Waste-Presentation.jpg');
        background-size: cover;
        height: 100vh;
    }
</style>
<div class="background-section">
    <p>

    </p>
</div>